.wrapper{
    color: #666;
    text-align: center;
}

.calendar{
    position: relative;
    width: auto;
}

.mini-wrap{
    width: auto;
    margin: auto;
    margin-top: 20px;
}

.title {
    color: #fff;
    background-color: #bfbeba;
    width: 15%;
    margin: 0 auto;
    padding: 5px;
    border-radius: 10px;
}

.monday {
    display: inline-block;
}

.tuesday{
    display: inline-block;
}