.wrapper{
    color: #666;
    text-align: center;
}

.calendar{
    position: relative;
    width: auto;
}

.mini-wrap{
    width: auto;
    margin: auto;
    margin-top: 20px;
}

.month {
    color: #fff;
    background-color: #bfbeba;
    width: 15%;
    margin: 0 auto;
    padding: 5px;
    border-radius: 10px;
}

.dates{
    list-style-type: none;
}

.monday {
    display: inline-block;
    padding-left: 25px;
    padding-right: 25px;
}

.tuesday{
    display: inline-block;
    padding-left: 25px;
    padding-right: 25px;
}

.wednesday{
    display: inline-block;
    padding-left: 25px;
    padding-right: 25px;
}

.thursday {
    display: inline-block;
    padding-left: 25px;
    padding-right: 25px;
}

.friday {
    display: inline-block;
    padding-left: 25px;
    padding-right: 25px;
}

.saturday{
    display: inline-block;
    padding-left: 25px;
    padding-right: 25px;
}

.sunday{
    display: inline-block;
    padding-left: 25px;
    padding-right: 25px;
}