<div class="wrapper">
    <h1>Calendar</h1>

    <div class="calendar">
        <p class="month">{{ thisMonth }}</p>
        <div class="mini-wrap">
            <div class="monday">
                <h4>Monday</h4>
                <ul class="dates">
                    <li></li>
                </ul>
            </div>
            <div class="tuesday">
                <h4>Tuesday</h4>
                <ul class="dates">
                    <li></li>
                </ul>
            </div>
            <div class="wednesday">
                <h4>Wednesday</h4>
                <ul class="dates">
                    <li></li>
                </ul>
            </div>
            <div class="thursday">
                <h4>Thursday</h4>
                <ul class="dates">
                    <li></li>
                </ul>
            </div>
            <div class="friday">
                <h4>Friday</h4>
                <ul class="dates">
                    <li></li>
                </ul>
            </div>
            <div class="saturday">
                <h4>Saturday</h4>
                <ul class="dates">
                    <li></li>
                </ul>
            </div>
            <div class="sunday">
                <h4>Sunday</h4>
                <ul class="dates">
                    <li></li>
                </ul>
            </div>
        </div>
    </div>
</div>